{
  "singleQuote": true,
  "printWidth": 80,
  "useTabs": true,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
